{% extends "base.html" %}

{% block title %}Articles for transcription | Leura's Old News{% endblock %}
{% block meta_description %}{% endblock %}
{% block breadcrumb %}<li>Articles for transcription</li>{% endblock %}

{% block content %}
    <div class='row'>
        <div class='col-xs-12'>
            <p>The following {{articles.count}} articles need transcription.</p>
            {% for article in articles %}
            <p>
                <a href='{{article.url}}'>{{article.title}}</a>.
                {{article.category}}. {{article.firstInsertion__date|dateformat}}, <i>{{article.firstInsertion__publication__title}}</i>, p{{article.firstInsertion__page}}.
                <br><i>{{article.precis}}</i>
            </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
