{% extends "base.html" %}

{% block title %}{{article.title}} | Leura's Old News{% endblock %}
{% block meta_description %}{{article.precis}}{% endblock %}

{% block breadcrumb %}<li>{{article.title}}</li>{% endblock %}

{% block content %}
    <div class='row'>
        <div class='col-xs-12'>
            <!-- <p style='font-family: "Droid Serif"'>Saturday 25 May 1889, <i>Katoomba Times</i>, page 4.</p> -->
            <p>{{article.pub_date}}, <i>{{article.source}}</i>, page {{article.page}}.</p>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-8'>
            {% if article.has_image %}
            <a href='img/{{article.key}}.jpg' class='thumbnail'>
                <img src='img/{{article.key}}.jpg'>
            </a>
            {% endif %}
            {% if article.body %}
            <div class='article'>
                {{article.body_html()}}
            </div>
            {% else %}
            <div class='article'>
                <h2>No transcription available.</h2>
                <p>Would you like to contribute one? Use the Facebook or Github
                    links at the bottom of the page.</p>
            </div>
            {% endif %}
        </div>
        <div class='col-sm-4'>
            <div class="panel panel-default">
              <div class='panel-body'>
                <p><b>Tagged topics</b></p>
                {% for tag in article.tags %}
                <p>
                    {% if tag.category == "Place" %}<span class='fa fa-map-marker'></span>
                    {% elif tag.category == "Person" %}<span class='fa fa-user'></span>
                    {% elif tag.category == "Event" %}<span class='fa fa-calendar-o'></span>
                    {% else %}<span class='fa fa-tag'></span>
                    {% endif %}
                    <a href='{{tag.key}}.html'>{{tag.title}}</a>
                </p>
                {% endfor %}
                <p><b>Trove ID</b></p>
                <p><a href='http://nla.gov.au/nla.news-article{{article.trove_id}}'>{{article.trove_id}}</a></p>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
