{% extends "base.html" %}

{% block title %}Leura's Old News{% endblock %}
{% block meta_description %}Collected historical newspaper articles referencing
Leura, Blue Mountains, Australia.{% endblock %}

{% block content %}
    <div class='row'>
        <div class='col-xs-12'>
            <div class='thumbnail'>
                <img src='/img/mall-postcard.jpg'>
                <div class='caption' style='text-align: right'>
                    <small>The Mall, Leura. Copyright status unknown.</small>
                </div>
            </div>
        </div>
    </div>

    <div class='row'>
        <div class='col-sm-6 col-md-7'>
            <p class='lead'>The National Library of Australia, with the assistance of the Blue
                Mountains City Library, the State Library of NSW and Springwood
                Historians, has recently released digitised versions of
                newspapers from as early as 1889 using the NLA's
                <a href='http://trove.nla.gov.au'>Trove</a> service.</p>
            <p>As a Leura resident, I am interested in the early history of the
                township but frustated by the lack of information available.
                Leura's larger and more interesting siblings receive all the
                attention and our little residential oasis is ignored. We can't
                even agree on the origin of the name.</p>
            <p>So, now that all these old newspapers are available online, I'm
                reading my way through every issue, recording and annotating
                each reference to Leura, no matter how small, in the hopes of
                building up a picture of the first few decades of our
                village.</p>
            <p>This web site hosts all the articles I have come across in my
                readings so far. I also have a
                <a href='https://www.facebook.com/LeurasOldNews'>
                Facebook Page</a> for the site where I post some of the more
                interesting items as I come across them. You can contact me
                there, or follow the page for updates.</p>
            <p>There are <strong>{{total_articles}} total articles</strong>
                listed. I'm up to
                <strong>{{latest_date|dateformat}}</strong>.</p>
        </div>

        <div class='col-sm-6 col-md-5'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h3 class='panel-title'>Latest additions</h3>
                </div>
                <div class='panel-body'>
                    {% for article in recent_articles %}
                        {% include "include/article.html" %}
                    {% endfor %}
                    <p><a href='/recents.html'>See more recently-added articles here.</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class='row'>
        <div class='col-sm-4'>
            <h2><span class='fa fa-user'></span> People</h2>
            {% for tag in person_tags %}
                {% include "include/tag_long.html" %}
            {% endfor %}
        </div>
        <div class='col-sm-4'>
            <h2><span class='fa fa-map-marker'></span> Places</h2>
            {% for tag in place_tags %}
                {% include "include/tag_long.html" %}
            {% endfor %}
        </div>
        <div class='col-sm-4'>
            <h2><span class='fa fa-calendar'></span> Events</h2>
            {% for tag in event_tags %}
                {% include "include/tag_long.html" %}
            {% endfor %}
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-4'>
            <h2><span class='fa fa-briefcase'></span> Businesses</h2>
            {% for tag in business_tags %}
                {% include "include/tag_long.html" %}
            {% endfor %}
        </div>
        <div class='col-sm-4'>
            <h2><span class='fa fa-users'></span> Groups</h2>
            {% for tag in group_tags %}
                {% include "include/tag_long.html" %}
            {% endfor %}
        </div>
        <div class='col-sm-4'>
           <h2><span class='fa fa-newspaper-o'></span> Publications</h2>
           {% for publication in publications %}
           <p><a href='{{publication.url}}'>{{publication.title}}</a> ({{publication.insertions.count()}})</p>
           {% endfor %}
        </div>
    </div>
{% endblock %}
