{% extends "base.html" %}

{% block title %}{{publication.title}} | Leura's Old News{% endblock %}
{% block meta_description %}A list of articles relating to Leura in the {{publication.title}}.{% endblock %}
{% block breadcrumb %}<li>Articles in {{publication.title}}</li>{% endblock %}

{% block content %}
    <div class='row'>
        <div class='col-xs-12'>
            <p>Below is a chronological list of articles in the publication {{publication.title}}.</p>
            {% set date=None %}
            {% for insertion in insertions %}
                {% if insertion.date != date %}
                <h2>{{insertion.date|dateformat}}</h2>
                {% endif %}
                {% include "include/insertion.html" %}
                {% set date=insertion.date %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
