{% extends "base.html" %}

{% block title %}{{publication.title}} | Leura's Old News{% endblock %}
{% block meta_description %}A list of articles relating to Leura in the {{publication.title}}.{% endblock %}
{% block breadcrumb %}<li>Articles in {{publication.title}}</li>{% endblock %}

{% block content %}
    <div class='row'>
        <div class='col-xs-12'>
            {% for article in articles %}
            <p><a href='{{article.url}}'>{{article.title}}</a>. {{article.category}}. {{article.pub_date}}, <i>{{article.publication.title}}</i>, page {{article.page}}. {% if article.precis %}<br><i>{{article.precis}}</i>{% endif %}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
