{% extends "base.html" %}

{% block title %}Recently Added | Leura's Old News{% endblock %}
{% block breadcrumb %}<li>Latest Articles</li>{% endblock %}

{% block content %}
    <div class='row'>
        <div class='col-xs-12'>
            {% set date=None %}
            {% for article in articles %}
                {% if article.date_updated != date %}
                <h2>{{article.date_updated|dateformat}}</h2>
                {% endif %}
                {% include "include/article.html" %}
                {% set date=article.date_updated %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
