{% extends "base.html" %}

{% block title %}Recently Added | Leura's Old News{% endblock %}
{% block breadcrumb %}<li>Latest Articles</li>{% endblock %}

{% block content %}
    <div class='row'>
        <div class='col-xs-12'>
            {% for article in articles %}
            <p>[{{article.date_updated}}] <a href='{{article.url}}'>{{article.title}}</a>. {{article.category}}. {{article.pub_date}}, <i>{{article.publication.title}}</i>, page {{article.page}}. {% if article.precis %}<br><i>{{article.precis}}</i>{% endif %}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
