{% extends "base.html" %}

{% block title %}{{tag.title}} | Leura's Old News{% endblock %}
{% block meta_description %}{{tag.precis}}{% endblock %}
{% block breadcrumb %}<li>Articles for {{tag.title}}</li>{% endblock %}

{% block content %}
    <div class='row'>
        <div class='col-xs-12'>
            <p>Below is a chronological list of articles tagged {{tag.title}}.</p>
            {% set date=None %}
            {% for article in articles %}
                {% if article.first_insertion_date != date %}
                <h2>{{article.first_insertion_date|dateformat}}</h2>
                {% endif %}
                {% include "include/article.html" %}
                {% set date=article.first_insertion_date %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
